<html layout:decorate="~{layout}">


<div layout:fragment="content" class="h-screen">
    <div class="w-[800px] h-[800px] flex flex-col items-center justify-center">
        <p4 class="text-2xl"><상품 상세 보기></p4>
        <img class="w-[600px] h-[500px]" th:src="@{|${showProduct.url}|}" alt="이미지 없음">
        <div th:text="'제품이름:'+ ${showProduct.title}"></div>
        <div th:text="'제품가격: '+ ${showProduct.price}+'원' "></div>
        <div th:text=" '제품설명: '+${showProduct.description}"></div>
    </div>

    <a th:href="@{|/product/delete/${id}|}" class="btn">삭제</a>
    <a th:href="@{|/cart/add/${showProduct.id}|}">장바구니 추가하기</a>

    <form th:action="@{|/comment/create|}" method="post">
        <input type="text" name="content" placeholder="리뷰 작성해주세요">
        <input type="hidden" name="parentId" th:value="${showProduct.id}">
        <input type="submit" value="리뷰 작성" class="btn">
    </form>


    <div th:each="comment : ${comments}">
        <p th:text="${comment.username}"></p>
        <p th:text="${comment.content}"></p>
    </div>




</div>


</html>